@font-face {
font-family: 'SEGA LOGO FONT';
font-style: normal;
font-weight: normal;
src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}

h1{
	font-family: 'SEGA LOGO FONT';
	font-weight: 200;
	color:#FFAAAA;
}

.title-size{
	font-size:3rem;
}

@media(max-width:380px){
	.title-size{
		font-size: 2rem;
	}
}

@media(max-width:250px){
	.title-size{
		font-size: 1rem;
	}
}